:root {
    --main-color: rgb(26,91,83);
}

body {
    background-color: var(--main-color);
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
}

.container {
    width: 100%;
    height: 100vh;
}